.whole-box h1 {
    font-size: 60px;
    color: #eb143a;
    font-weight: 300;
}

.whole-box {
    border-radius: 12px;
}

.form-check-input:checked {
    background-color: #4f145b;
    border-color: #000;
}